body {
    font-family: Helvetica;
    font-style: normal;
    font-size: 16px;
}

.bg-grey {
  background-color: #F1F3FF;
}

.header {
  padding-bottom: 35px;
}

.header
.nav-link {
  /* color: rgba(0,0,0,.55); */
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.header
.btn{
  background-color: #5CB85F;
  border: #5CB85F;
}

.description
.btn{
  background-color: #5CB85F;
  border: #5CB85F;
}

.rent {
  background-color: #0D28A6;
  border: #0D28A6;
  border-radius: 13px;
  color: #F1F3FF;
}

.rent
.btn{
  background-color: #5CB85F;
  border: #5CB85F;
}

.faq
.accordion
.accordion-item {
  margin-bottom: 10px;
}

.footer
.footer-link {
  text-decoration: none;
  color: black;
}

.footer
.sosmed {
  margin-right: 10px;
}

.search {
  position: relative;
  margin-top: -90px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.search
.btn {
  background-color: #5CB85F;
  border: #5CB85F;
}

.list-car {
  margin-top: 50px;
}

.list-car
.btn {
  background-color: #5CB85F;
  border: #5CB85F;
}

.list-img {
  width: 270px;
  height: 270px;
  object-fit: cover;
}